:root {
    color-scheme: dark;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}

body {
    background-color: rgb(15, 15, 15);
}

#wrapper {
    width: 75%;
    margin: auto;
    border: 0.2vw rgb(50, 50, 50) solid;
}

header {
  display: flex;
  flex-direction: column; /* stack items vertically */
  align-items: flex-start; /* everything left by default */
  background-color: rgb(22, 22, 22);
  border-bottom: 0.2vw rgb(50, 50, 50) solid;
}

nav {
    border-top: 0.2vw rgb(50, 50, 50) solid;
}

nav {
    width: 100%;
    background-color: #111;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

nav ul li {
    padding: 0.5%;
    text-align: center;
    border-right: 0.2vw rgb(50, 50, 50) solid;
    flex: 1;
    font-family: monospace;
    background-color: #111;
    list-style: none;
}

nav li:last-child {
  border-right: none;
}

nav ul li a {
  font-style: italic;
  white-space: nowrap;
    display: block;
    color:whitesmoke;
    font-size: clamp(6px, 1vw, 18px);
    text-decoration: none;
    transition: transform 0.1s ease;

}

nav ul li:hover a {
  transform: translateY(-2px);
}

.logo {
  align-self: center;
  display: block;
  box-sizing: border-box;
  margin: 2%;
  padding: 10px;
  background: black;
  border: 0.2vw solid gray;
  font-family: monospace;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  user-select: none;

  animation: load 2s steps(30, end);
}

/* ASCII art */
.logo pre {
  display: block;
  background: inherit;

  white-space: pre;
  margin: 0;
  display: inline-block;
  overflow: hidden;
  font-size: clamp(0.3rem, 1vw, 0.8rem);

  transform: scaleX(calc(100vw / 1200)); /* optional fine tuning */
  transform-origin: left top;

  text-align: center;
  font-size: 0.7vw;
}

.logo p {
  text-align: left;
  margin: 0;
  font-size: clamp(0.4rem, 1vw, 0.75rem);
  color: gray;
}

.prefix, .suffix {
    color: gray;
}

.cursor {
  color: white;
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s steps(1) infinite;
}

article {
  display: flex;
  padding: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

article img {
  width: 25%;
  height: auto;
  object-fit: cover; /* keep it cropped rather than squashed */
}

.post_content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post_text p {
  margin-top: 0.5rem;
}

.post_text h2 {
  font-size: xx-large;
}

.shy {
  font-size: small;
  color: darkgray;
  font-style: italic;
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes load {
    0% { max-height: 0; padding-top: 0; padding-bottom: 0; }
    20% { padding-top: 10px; padding-bottom: 10px;}
    100% { max-height: 100vh;}
}

@media (max-width: 800px) {
  #wrapper {
      width: 100%;
  }

  .shy {
    color: gray;
    font-size: 0.5rem;
  }

  .logo pre {
    font-size: 0.25rem;
  }

  nav ul li a {
    white-space: nowrap;
    display: block;
    color:whitesmoke;
    font-size: 0.5rem;
    text-decoration: none;
    padding: 5px;
  }
}